* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


body {
    background: #E5E5E5;
    padding-top: 37px;
}



@media only screen and (max-width: 480px) {
    body {
        padding-top: 45px;
    }
}